body {
  font-family: sans-serif;
}

a,
a:link,
a:visited {
  color: rgb(32,78,51);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  min-height: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
  The declarations on 22-24 are all that are necessary to make this
  happen! We identify the ul as the item to have flex applied because
  we want its children -- the li tags -- to be laid out horizontally.

  We use justify-content to handle the spacing between each li;
  align-items is used to have the text centered vertically in our ul.
*/

nav {
  background-color: rgba(223,99,41,0.1);
  padding: 0 10px;
  max-width: 800px;
}
