body {
  font-family: "Helvetica", "Arial", sans-serif;
}

a:hover {
  background-color: rgba(231,209,75,0.5); /* lt yellow */
}

h2,
h3 {
  color: rgb(69,105,159); /* blue */
}

p,
li {
  line-height: 1.5;
}

ul > li {
  list-style-type: square;
}

abbr[title] {
  text-decoration-color: rgb(69,105,159); /* blue */
  text-decoration-style: wavy;
}

[datetime="1995"] {
  font-style: italic;
  color: rgb(69,105,159); /* blue */
}


/* (Structural) Type Selectors */

section {
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgba(231,209,75,0.15); /* lt yellow */
}

#geography aside {
  font-style: italic;
}

footer a {
  color: #000;
}


/* id Selectors */
#introduction {
  background-color: rgba(69,105,159,0.15); /* lt blue */
  border: 1px dashed rgb(69,105,159); /* blue */
}

#introduction {
  color: rgb(69,105,159); /* blue */
}

footer {
  background-color: rgb(231,209,75); /* yellow */
}

#geography aside {
  border: 1px dashed rgb(69,105,159);
  padding-left: 16px;
}



/* class Selectors */

.first {
  font-weight: bold;
}

.first::first-letter {
  font-size: 22px;
}

.highlight {
  font-weight: bold;
  color: rgb(69,105,159); /* blue */
}
