body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;

  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

h2 {
  margin-top: 0;
}

header,
nav,
footer {
  background-color: #eee;
}

header,
footer {
  padding-left: 20px;
}

section {
  background-color: #ddd;
  padding: 20px;
}

section p {
  margin-bottom: 0;
}

header {
  grid-column: 1 / 3;

  /* also:

    grid column: 1 / -1;

  or

    grid-column: 1 / span 2;
  */
}

nav {
  grid-row: 2 / 4;

  /* also:

    grid-row: 2 / span 2;

  */

}

footer {
  grid-column: 2 / 3;

  /* also:

    grid-column: 2;

  or

    grid-column: 2 / -1;

  or

    grid-column: 2 / span 1;
  */
}
