body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header  header"
    "nav     main"
    "footer  footer";
  grid-gap: 20px;
}

h2 {
  margin-top: 0;
}

header,
nav,
footer {
  background-color: #eee;
}

header,
footer {
  padding-left: 20px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-area: main;
  /*
    We're declaring main as a grid area in the body's grid, but also
    setting up main to have its own grid!
  */
}

section {
  background-color: #ddd;
  padding: 20px;
}

section p {
  margin-bottom: 0;
}

footer {
  grid-area: footer;
}

#welcome {
  grid-column: 1 / -1;
}

#cats {
  grid-column: 1;
}

#coming-soon {
  grid-column: 2;
}
